body {
    margin: auto;
    width: 33%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

#hero img {
    display: block;
    margin: auto;
    width: 100%;
}

fieldset {
    text-align: center;
}

#testimonials-flexbox {
    display: flex;
    justify-content: space-evenly;
}